<div class="user">
    <img src="/profil-default.png" class="new_user_pp">
    <h2 class="new-username"><%= user.username %></h2>
    <p class="user-pp-status"><%= user.pp_status %></p>
    <p>54 Min Ago</p>
</div>