<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untilted.txt | Preferences</title>
    <link rel="icon" href="Untilted_logo.ico">

    <link rel="stylesheet" href="user-preferences.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <a href="/home" class="QUIT"><i class='bx bx-left-arrow-circle'></i></a>
        <h1 class="UserName"><%= name %></h1>
    </div>
</body>
</html>