*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
}

.QUIT {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

.QUIT i {
    font-size: 40px;
    color: black;
}

.preferences {
    width: 50%;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 20px;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    transition: all 0.2s ease;
}

h1 {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(68, 68, 68);
}

.profile {
    display: flex;
    justify-content: center;
}

.change_profil_img {
    border: none;
    background: transparent;
    cursor: default;
    height: 200px;
}

.change_profil_img .pp {
    height: 200px;
    width: 200px;
    position: absolute;
}

.change_profil_img .pp p{
    display: none;
}

.change_profil_img .pp img {
    height: 200px;
    width: 200px;
    cursor: pointer;
    object-fit: cover;
}

.change_photo_overlay {
    visibility: hidden;
    color: azure;
    background: gray;
    opacity: 0;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
}

.change_photo_overlay.active {
    visibility: visible;
    opacity: 0.5;
}

.change_photo_overlay i.active {
    font-size: 50px;
}

.overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: all 0.2s ease;
    opacity: 0;
}

.pp_form_popup {
    height: 90%;
    width: 40%;
    background: white;
    color: black;
    border: 2px solid rgb(109, 109, 109);
    border-radius: 30px;
    transition: all 0.2s ease;
}

.pp_form_popup .pp {
    padding-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.pp_img {
    border-radius: 20%;
}

.pp_form_popup .pp img{
    height: 150px;
    width: 150px;
    object-fit: cover;

}

.pp_form_popup .file {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp_form_popup .file form {
    border-radius: 5px;
    border: 1px solid red;
    background: salmon;
    padding: 20px 40px 20px 40px;
}

.pp_form_popup .file form button {
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    background: green;
    border: none;
}

.pp_form_popup .close {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp_form_popup .close .circle_close {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
    height: 44px;
}

.pp_form_popup .close .circle_close i {
    font-size: 40px;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1000px){
    .pp_form_popup {
        width: 60%;
    }
}
@media (max-width: 800px){
    .preferences {
        width: 70%;
    }
}
@media (max-width: 740px){
    .pp_form_popup {
        width: 80%;
    }
}
@media (max-width: 650px){
    .preferences {
        width: 100%;
    }
}
@media (max-width: 550px){
    .pp_form_popup {
        width: 100%;
    }
}