*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    padding-top: 20px;
}

.QUIT {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

.QUIT i {
    font-size: 40px;
    color: black;
}

h1 {
    width: 300px;
    text-align: center;
}